<h1 class="mylistings">My Listings</h1>

<div class="row">
  <div>
   <%= link_to 'New Listing', new_listing_path, class: 'btn btn-primary btn-lg new-btn' %>
  </div>
  <table class="table table-stripped">
    <tr>
      <th colspan="5">Title</th>
    </tr>
    <%= render @listings %>
  </table>
  <br />
</div>