
<div class="topbar">
  <div class="container">
    <div class="vartical-center">
      <%= link_to 'Home', root_path %> > About 
    </div>
  </div>
</div>
<h1>About Page</h1>
  <p>
    Beard four dollar toast hell of, flannel raclette viral authentic green juice blue bottle. Selfies blue bottle banjo, quinoa vegan semiotics cred truffaut vinyl flexitarian waistcoat. Yuccie pitchfork williamsburg tattooed polaroid cronut, gluten-free selfies knausgaard put a bird on it photo booth meh brooklyn twee trust fund. Dreamcatcher readymade tofu master cleanse. Humblebrag letterpress art party ramps. Cliche 8-bit echo park polaroid enamel pin, meditation air plant trust fund put a bird on it. Cloud bread messenger bag taxidermy, waistcoat humblebrag pour-over small batch microdosing poutine shaman cronut succulents yuccie fashion axe freegan.
  </p>
