.card-topper {
  border: none;
  border-radius: 0;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  background-color: white;
  white-space: nowrap;
}

.side-scroll {
  width: 500;
  height: 200px;
  overflow-x: scroll;
  white-space: nowrap;
  max-width: 1000px;
  max-height: 800px;
  text-align: center;
}

.card-top-title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0,0,0,.15)!important;
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
}

.parallax-struct {
  background-color: white;
  padding: 50px 80px;
}

.top {
  background-image: url(TheFutureAreUs.jpg);
  min-height: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* .card-bloc {
  padding: 10px;
  .card-title {
    font-size: 1.3rem;
    margin-bottom: 0;
  }
} */