<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-default form-style">
      <div class="panel-body">
        <h2>Monthly Subscription</h2>
          <h4>This is the final step to give you access</h4>
           <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<br />
<br />

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-default form-style">
      <div class="panel-body">
        <h2>Yearly Subscription</h2>
          <h4>This is the final step to give you access</h4>
           <%= render 'form' %>
      </div>
    </div>
  </div>
</div>