@import "bootstrap-sprockets";
@import "bootstrap";

// Modules here----------------------------------------------------------------------
@import "modules/buttons";
//-----------------------------------------------------------------------------------

// Header here-----------------------------------------------------------------------

// ----------------------------------------------------------------------------------

// Body (mid-section)----------------------------------------------------------------
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
// ----------------------------------------------------------------------------------


// Footer here-----------------------------------------------------------------------
body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
//-----------------------------------------------------------------------------------
