// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$border: #E9E9E9;

.contact-body {
	width: 500px;
  height: 500px;
  //overflow-y: auto;
  max-width: 3000px;
  max-height: 800px;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.09);
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
  background: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.07);
  border-radius: 3px;
	padding-bottom:60px;   /* Height of the footer */
}

.page_title {
	text-align: center;
	border-bottom: 1px solid $border;
	padding: 1em 0;
	font-size: 2rem;
	text-transform: uppercase;
}

.hidden {
  display: none;
}

.skinny_wrapper, .new_contact {
	width: 80%;
	max-width: 760px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.wrapper_padding {
	padding: 4rem 0;
}

#contact_name, #contact_email, #contact_message {
	width: 600px;
}

#contact_message {
	height: 300px;
}


label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
	letter-spacing: 2.5px;
	font-size: 1em;
} 
