<body>
  <div class="container">
    <div class="page-header">
      <h1>TheFuture Are Us</h1>
    </div>
    <ul>
      <li>Automotive</li>
      <li>Beauty</li>
      <li>Technology</li>
      <li>Academic</li>
      <li>Art/Design</li>
      <li>Videography/Photography</li>
      <li>Culinary</li>
      <li>Fashion</li>
      <li>Fitness</li>
      <li>Childcare</li>
      <li>Event Services</li>
    </ul>
  </div>
</body>
