
<footer id="main_footer">
    <div class="container">
        <nav>
            <%= link_to "About", about_path%>
            <%= link_to "Privacy Policy", privacy_path%>
            <%= link_to "Terms of Use", terms_path%>
            <%= link_to "Contact Us", new_contact_path%>
        </nav>
    </div>
</footer>
