<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
        <li class="button-left left-side"><%= link_to "Home", root_path %></li>
        <li class="button-left left-side"><%= link_to "Team", root_path %></li>
        <li class="button-left left-side"><%= link_to "Top Listings", root_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- Add if statement for signed in / signed out users -->
      <li class="button button-list">
        <a href="#">Search Listings</a>
      </li>
      <li class="button button-list"><%= link_to "Create A Listing!", new_listing_path %></li>
      <li class="button"><a href="#">Sign In / Sign Up</a></li>
    </ul>
  </div>
</nav>
